recursive-include tarabut_connector *.json
recursive-include tarabut_connector *.js
recursive-include tarabut_connector *.py
recursive-include tarabut_connector *.txt
recursive-include tarabut_connector *.csv
recursive-include tarabut_connector *.png
